---
layout: default
---
<div class="post">
  {%- if page.image -%}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {%- endif -%}
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>

  {% if page.toc %}
		<div class="toc-container">
			<h2 id="toc-title" class="toc-title">목차</h2>
			{{ content | toc_only }}
		</div>
	{% endif %}
  
  {{ content }}

  <div class="category-container">
    <p>Category: {{ page.categories[0] }}</p>
  </div>

  {% include related-posts.html %}
</div>

{%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
{%- endif -%}
